@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');

h1{
  font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  height: 100%;
  margin-top: 40px;
}
.searchButton, form, .optionalButtons,.selectForm{
  display: inline-block;
  margin-right: 5px;
}
.editButton {
  border-radius: 4px;
  flex: 1 1;
  width: 110px;
  border: 1px solid dodgerblue;
  background-color: white;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: midnightblue;
  margin-left: 10px;
}
.editButton:hover {
  background-color: dodgerblue;
  color:white;
}
.input1, .input2 {
  display: inline-block;
  margin-right: 5px;
  margin-top:15px;
}
.filterButton, .filterForm, form{
  display: inline-block;
  margin-right: 5px;
}
input {
  font-size: 16px;
  display: block;
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #6b6b6b;
  margin-left: 30px;
}
input:focus {
  outline: none;
}
.searchButton {
  border-radius: 4px;
  flex: 1 1;
  width: 100px;
  border: 1px solid midnightblue;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: midnightblue;
  margin-left: 10px;
}

.searchButton:hover{
  color:white;
  background-color: midnightblue;
  opacity:0.8;
}
.filterButton {
  border-radius: 4px;
  flex: 1 1;
  width: 100px;
  font-weight: 500;
  border: 1px solid midnightblue;
  background-color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: midnightblue;
  margin-left: 10px;
}
.filterButton:hover {
  color:white;
  background-color: midnightblue;
  opacity:0.8;
}
.showStudent{
  display:none;
}
option {
  margin-top: 20px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  background: white;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 14px;
  height: 50%;
}
th {
  background-color:#1f1f1f;
  opacity: 0.8;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-bottom: 2px solid white;
  width: 100px;
  height:40px;
  text-align: center;
}
.toggle {
  opacity: 0.7;
  margin-top: 2%;
}
.toggle:hover {
  opacity:0.6;
}
.togglesContainer{
  display: flex;
  flex-direction: row-reverse;
}
.toggleLabel, toggle{
  display: inline-block;
  margin-right: 5px;
}
.toggleLabel {
  vertical-align: super;
}
select {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
  width: 150px;
  border: 2px solid midnightblue;
  border-radius: 8px;
  margin-top:8px;
  margin-left: 20px;
}
.miniText{
  font-weight: 300;
  font-size: 12px;
  font-weight: 500;
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
  color: darkslategrey;
  margin-left: 20px;
}
.deleteButton {
  border-radius: 4px;
  flex: 1 1;
  width: 100px;
  border: 1px solid #707070;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-left: 10px;
}
.deleteButton:hover{
  background-color:  red;
  border: 1px solid red;
  opacity:0.8;
  color:white;
}
.fa-sync {
  margin-left: 92%;
  opacity: 0.4;
}
.fas:hover {
  opacity:0.5;
}
th:first-child, td:first-child {
  text-align: left;
}
th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
td {
  border-bottom: 1px solid #4a4a4a;
  height:34px;
}
th:hover {
  opacity:0.7;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
.th1{
  width:5px;
  text-align: right;
}
.td1 {
  border-left: 1px solid black;
}
.showFStudents {
  color:#db4307;
  solid-opacity: 0.4;
  margin-left: 80%;
}
.needsHighlight{
  background-color: #ddf2cc;
}
.custom {
  font-size: 14px;
  background-color: white;
  color: #4a4a4a;
  text-align: center;
}
.tdDel {
  text-align: center;
}
.th2{
  width:15px;
}


