<head>
  <base href="/" />
  <title></title>
</head>

<div *ngIf="students === undefined"> Загрузка</div>
<div *ngIf="students !== undefined">
<div class="container">
  <div class="searchForm">
    <div class="selectForm">
    <div class="miniText">Поиск по </div>
    <select [(ngModel)]="selectedValue"  [ngModelOptions]="{standalone: true}">
      <option value="1" > Имя </option>
      <option value="2" selected> Фамилия </option>
      <option value ="3">Номер студенческого</option>
    </select>
    </div>
<form >
  <input type="text" [(ngModel)] = "searchInput" [ngModelOptions]="{standalone: true}"/>
</form>
  <button class="searchButton" (click)="searchStudent()">Найти</button>
  </div>
  <div class="filterForm">
    <div class="selectForm">
      <div class="miniText">Фильтрация по </div>
      <select [(ngModel)]="selectedNowFilter"  [ngModelOptions]="{standalone: true}">
        <option value="1" > Дата рождения </option>
        <option value="2" selected> Средний балл </option>
      </select>
    </div>
    <form >
      <div class = "input1">
      <div class="miniText"> От</div>
      <input type="text" class="input1" [(ngModel)] = "filterInput1" [ngModelOptions]="{standalone: true}" />
      </div>
      <div class="input2" >
      <div class="miniText"> До</div>
      <input type="text" [(ngModel)] = "filterInput2" [ngModelOptions]="{standalone: true}"/>
      </div>
    </form>
    <button class="filterButton" (click)="filterStudents()">Готово</button>
  </div>
<div class="togglesContainer">
  <app-add-student  (newStudentData)="addStudent($event)" routerLink="/add"></app-add-student>
</div>
  <div class="togglesContainer">

  <div *ngIf="status === true">
    <label for="showFStudents" class="miniText toggleLabel"> Показывать двоечников</label>
    <i class="fas fa-toggle-on toggle fa-2x "  id="showFStudents"(click)="switchShowFStudents()"></i>
  </div>
  <div *ngIf="status === false">
    <label for="dontShowFStudents" class="miniText toggleLabel"> Не показывать двоечников</label>
    <i class="fas fa-toggle-off toggle fa-2x" id="dontShowFStudents" (click)="switchShowFStudents()"></i>
  </div>
  </div>

  <table class="studentsTable">
  <tr>
    <th class="thSmall"> </th>
    <th class="thSmall">Cтуденч. билет<i class="fas fa-caret-up" (click)="sortStudents('studNumber', 'ASC')" > </i> <i class="fas fa-caret-down" (click)="sortStudents('studNumber', 'DESC')"> </i></th>
    <th class="thMiddle">ФИО  <i class="fas fa-caret-up"  (click)="sortStudents('surname', 'ASC')"></i> <i class="fas fa-caret-down"  (click)="sortStudents('surname', 'DESC')" ></i></th>
    <th class="thMiddle">Дата рождения  <i class="fas fa-caret-up" (click)="sortStudents('birthDate', 'ASC')"></i> <i class="fas fa-caret-down" (click)="sortStudents('birthDate', 'DESC')"></i></th>
    <th class="thMiddle" >Направление  <i class="fas fa-caret-up" (click)="sortStudents('schedule', 'ASC')"></i> <i class="fas fa-caret-down" (click)="sortStudents('schedule', 'DESC')"></i></th>
    <th class="thSmall">Бакалавриат  <i class="fas fa-caret-up" (click)="sortStudents('isBachelor', 'ASC')"></i> <i class="fas fa-caret-down" (click)="sortStudents('isBachelor', 'DESC')"></i></th>
    <th class="thSmall">Стипендия  <i class="fas fa-caret-up" (click)="sortStudents('hasScholarship', 'ASC')"></i><i class="fas fa-caret-down" (click)="sortStudents('hasScholarship', 'DESC')"></i></th>
    <th class="thSmall">Средний балл  <i class="fas fa-caret-up" (click)="sortStudents('averageScore', 'ASC')"></i><i class="fas fa-caret-down" (click)="sortStudents('averageScore', 'DESC')"></i></th>
    <th class="thSmall">Изменить</th>
    <th class="thSmall"> Удалить</th>

  </tr>

  <tbody *ngFor="let student of students; let i = index; trackBy: trackById ">

<tr class="needsHighlight students" [class.showFStudents]=" studentIsValid(student.averageScore)"
    [class.showStudent]=" filterStudent(student.averageScore, student.birthDate)"
    [class.needsHighlight] = "colorStudent(student.name, student.surname, student.studNumber )"
   >
  <td >{{i+1}}</td>
  <td  >{{student.studNumber}}</td>
  <td >{{student.name | initials:student.surname:student.patronymic}}</td>
  <td  >{{student.birthDate.toDateString() | date}}</td>
  <td  >{{student.schedule}}</td>
  <td  >{{student.isBachelor}}</td>
  <td  >{{student.hasScholarship}}</td>
  <td tendency [state]="calculateTendency(student.averageScore, student.previousAverageScore)" >{{student.averageScore}}</td>
  <td>
    <i class="far fa-edit" (click)="navigateToEditForm(student.studNumber)"></i>
    <app-edit-student [currentStudent]= "student" (editedStudentData)="editStudent($event)" routerLink="/edit/{{student.studNumber}}"></app-edit-student>
  </td>
  <td class="tdDel td3"> <i class="fas fa-times-circle" (click)="deleteStudent(student.studNumber)"></i></td>
</tr>

  </tbody>
</table>

</div>
</div>
