<div>
  <button class="addButton " id="addStudentPlus"(click)="openModal('add-student-modal')">Добавить студента</button>
</div>
<jw-modal  id="add-student-modal">
  <div class = "closeModal" (click)="closeModal('add-student-modal')"> <i class="fas fa-times-circle fa-2x"></i> </div>
  <div class = "container">
  <form [formGroup]="addStudentForm">
    <div class="rowContainer">
    <div class="largeText">Id</div>
 <div class="formInput"><input type = "text" id="id" formControlName="id" ></div>
    </div>
<div formGroupName="fullName">
  <div class="rowContainer">
    <div class="largeText">Имя</div>
    <div class="formInput"><input  type = "text" id="name" formControlName="name"> </div></div>
  <div class="rowContainer">
    <div class="largeText">Фамилия</div>
  <div class="formInput" ><input  type = "text" id="surname" formControlName="surname"></div>
  </div>
  <div class="rowContainer">
  <div class="largeText">Отчество</div>
  <div class="formInput" ><input  type = "text"  id="patronymic" formControlName="patronymic"></div>
  </div>
</div>
    <div class="rowContainer">
    <div class="largeText">Программа</div>
      <div class="formInput"> <input   type = "text" id="schedule" formControlName="schedule"></div> </div>
    <div class="rowContainer">
    <div class="largeText">Бакалавриат</div>
      <div class="formInput"> <input   type = "text" id="isBachelor" formControlName="isBachelor"></div> </div>
    <div class="rowContainer">
      <div class="largeText">Стипендия</div>
      <div class="formInput"><input  type = "text" id="hasScholarship"  formControlName="hasScholarship"></div> </div>
    <div class="rowContainer">
    <div class="largeText">Дата рождения</div>
    <div class="formInput"><input  type = "text" id=" birthDate" formControlName="birthDate"></div>
    </div>
    <div class="rowContainer">
    <div class="largeText">Средняя оценка</div>
      <div class="formInput"><input type = "text" id=" aveageScore" formControlName="averageScore"></div> </div>
</form>
  </div>
  <div class="formStatus"> Статус формы: {{addStudentForm.status}}</div>
  <div class="container"><button class="addStudent" (click)="submitStudent()">Отправить</button> </div>
</jw-modal>
