<p>add-student works!</p>
<form [formGroup]="addStudentForm">
  <input type = "text" formControlName="id">
<fieldset formGroupName="initial">
  <input type = "text" formControlName="name">
  <input type = "text" formControlName="surname">
  <input type = "text" formControlName="patronymic">
</fieldset>
  <input type = "text" formControlName="schedule">
  <input type = "text" formControlName="isBachelor">
  <input type = "text" formControlName="hasScholarship">
  <input type = "text" formControlName="birthDate">
  <input type = "text" formControlName="averageScore">
</form>
